form{
	background-color: #ccc;
	border-radius: 10px; 
	padding: 5px;

}
#result{
	font-size: 25px;
}
form table td input{
	width: 50px;
	padding: 5px 5px;
	margin-top: 10px;
}
form table .clear{
	background-color: #c74040;
  	color: white;
}
form table .clear:hover{
	background-color: #3e8e41;
}
form table .tinhtoan{
	background-color: #CBC527;
}
form table .tinhtoan:hover{
  background-color: #3e8e41;
  color: white;
}
form table .number:hover{
  background-color: #3e8e41;
  color: white;
}